/*panel*/
.container {
	background-color: #afd81c;
	width: 100vw;
	height: 87vh;
}
.container section {
	display: inline-block;
	margin-left: 20px;
}
.imagePanel {
	margin-top: 30px;
	height: 87vh;
	width: 47vw;
	text-align: center;
}

.secondaryImg div {
	display: inline-block;
	margin-top: 20px;
	margin-left: 15px;
}
.secondaryImg div img {
	width: 220px;
	height: 190px;
	border-radius: 10px;
}

.infoPanel {
	position: absolute;
	float: right;
	height: 80vh;
	width: 47vw;
	text-align: center;
}
button {
	margin-left: 30px;
}
.spinner {
	margin: 50% auto;
}
