.wrapper {
	background-image: url(../../fonts/myShowrom.jpeg);
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.card {
	padding: 0;
	display: inline-flex;
	width: 22%;
	height: auto;
	margin-left: 30px;
	padding-left: 10px;
	padding-top: 20px;
}
