.links {
	text-decoration: none;
	border: 1px solid yellow;
	border-radius: 18px;
	text-shadow: 2px;
	background-color: rgb(184, 122, 122);
	color: white;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 10px;
}
.wrapper {
	float: right;
	margin-top: 10px;
}
