.links {
	text-decoration: none;
	border: 1px solid yellow;
	border-radius: 18px;
	text-shadow: 2px;
	background-color: rgb(184, 122, 122);
	color: white;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 15px;
}
.wrapper {
	padding-top: 6px;
	width: 100vw;
	height: 7vh;
	background-color: aqua;
}
.linkWrapper {
	background-color: red;
	display: inline-block;
	float: right;
	padding-right: 30px;
}
