.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: rgb(150, 148, 148);
	padding-right: 1rem;
	height: 2rem;
}

.linkWrapper {
	display: flex;
	gap: 0.4rem;
	list-style: none;
}
.links {
	font-size: 0.8rem;
	text-decoration: none;
	text-transform: uppercase;
	width: fit-content;
	color: white;
	padding: 0 3px;
	/* padding-bottom: 13px; */
}
.li:nth-child(4) {
	padding-right: 1.6rem;
}
.logo {
	margin-left: 2%;
	width: 9%;
	height: 220%;
}
.logo:hover {
	cursor: pointer;
}
.dropdown {
	color: #222;
	text-decoration: none;
	padding: 8px 8px;
	width: auto;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.dropdownList {
	list-style: none;

	color: #070707;
	padding: 5px;
	display: none;
	position: absolute;
	top: 96%;
	background-color: rgba(150, 147, 147, 0.733);
	border-radius: 0px 0px 5px 5px;
}

@media (hover: hover) {
	.touchLinks {
		display: none;
	}
	.li:hover .dropdownList {
		display: grid;
	}
	.dropdown:hover {
		background-color: rgb(97, 97, 97);
		color: white;
	}
}
@media (hover: none) {
	.touchLinks {
		display: flex;
		width: 0.6rem;
	}
	.links {
		display: none;
	}
	.li:nth-child(4) {
		padding-right: 0;
	}
}
.li {
	height: 1.8rem;
	list-style: none;
	position: relative;
	text-decoration: none;
}
.greating {
	list-style: none;
	font-size: 1rem;
}
@media (max-width: 70em) {
	.touchLinks {
		padding-top: 0.4rem;
	}
	.links {
		font-size: 0.6rem;
	}
	.logo {
		height: 150%;
	}
	.greating {
		margin-top: 9px;
		font-size: 0.7rem;
	}
	.dropdown {
		font-size: 12px;
	}
}
@media (max-width: 42em) {
	.wrapper {
		height: 1rem;
		padding: 0;
		align-items: center;
	}
	.links {
		padding: 0;
		font-size: 0.4rem;
	}
	.logo {
		padding-top: 8px;
		height: 170%;
	}
	.greating {
		padding-top: 0.9rem;
		font-size: 0.5rem;
	}
	.li {
		height: 1rem;
	}
	.dropdown {
		padding-left: 3px;
		font-size: 10px;
	}
	.dropdownList {
		margin: 3px 0;
		padding: 3px 0;
		top: 1rem;
	}
	@media (hover: none) {
		.touchLinks {
			width: 10px;
		}
		.li:nth-child(4) {
			padding-right: 0;
		}
	}
	@media (hover: hover) {
		.li:nth-child(4) {
			padding-right: 1.2rem;
		}
	}
}
@media (max-width: 26em) {
	.wrapper {
		height: 1.1rem;
	}
	.links {
		padding: 0;
		font-size: 0.2rem;
	}
	.logo {
		width: 20%;
		padding-top: 4px;
		height: 200%;
	}
	.greating {
		margin-top: 0.9rem;
		font-size: 0.2rem;
	}
	.touchLinks {
		margin-top: 5px;
	}
	.li {
		height: 1rem;
	}
	.dropdown {
		padding-left: 3px;
		font-size: 6px;
	}
	.dropdownList {
		margin: 3px 0;
		padding: 3px 0;
		top: 1rem;
	}
}
