.dynamic {
	background-color: rgb(185, 184, 184);
	width: 100%;
	height: auto;
	padding-top: 2rem;
	padding-bottom: 3rem;
	background-image: url(../../fonts/Classic-Car-Collecting-03.png);
	background-blend-mode: difference;
	background-attachment: fixed;
}

.text {
	color: rgb(255, 255, 255);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	width: 50%;
	text-align: center;
	margin-left: 24%;
	margin-top: 6%;
	font-size: 30px;

	background: rgba(122, 122, 122, 0.6);
}
.title {
	font-family: "Times New Roman", Times, serif;
	color: rgb(233, 237, 240);

	margin: 1% auto;
	font-size: 4rem;
}
@media (max-width: 64em) {
	.title {
		font-size: 2.5rem;
		margin-left: 18%;
	}
	.text {
		font-size: 22px;
		width: 70%;
		margin: 2rem auto;
	}
}
@media (max-width: 26em) {
	.title {
		text-align: center;
		font-size: 1.6rem;
		margin: 1rem auto;
	}
	.text {
		font-size: 18px;
	}
}
