* {
	margin: 0;
}

.row {
	width: 100%;
	display: inline-flex;
	color: red;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}
.backdrop {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

.modal {
	height: 90%;
	width: 60%;
	position: absolute;
	margin: auto;
	border-radius: 20px;
	background-color: white;
	padding: 1rem;
	box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
	z-index: 30;
	margin-top: 50px;
}

@media (min-width: 930px) {
	.modal {
		width: 48rem;
		left: calc(50% - 24rem);
		border-radius: 14px;
	}
}
.userContainer {
	width: 100%;
	height: 100%;
}
.headers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.formRow {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.formGroup {
	margin-right: 1px;
	width: 33%;
}

.formGroup label {
	font-size: 1.5rem;
}

.formError {
	color: #d9534f;
	font-size: 16px;
}
.inputWrapper {
	width: 80%;
}

.inputWrapper textarea {
	width: 100%;
}
.inputWrapper input {
	width: 100%;
	font-weight: 200;
	border: 1px solid #d5dee6;
	height: 2rem;
	padding: 6px 12px;
	background-color: #f7f7f7;
}
.formAction {
	margin-top: 10px;
	float: right;
}
@media (max-width: 82em) {
	.headers {
		height: 1.3rem;
	}
	.headers h2 {
		font-size: 1.6rem;
	}
	.closeBtn {
		font-size: 1rem;
	}
	.formGroup label {
		font-size: 1rem;
	}
	.inputWrapper input {
		font-size: 1rem;
		height: 1.5rem;
	}
	.modal {
		height: 100%;
		width: 80%;
	}
}
@media (max-width: 72em) {
	.headers {
		height: 1.1rem;
	}
	.headers h2 {
		font-size: 1.3rem;
	}
	.closeBtn {
		font-size: 0.7rem;
	}
	.formGroup label {
		font-size: 0.8rem;
	}
	.inputWrapper input {
		font-size: 0.6rem;
		height: 1.3rem;
	}
	.modal {
		margin-left: 20%;
		height: 100%;
		width: 60%;
	}
}
@media (max-width: 72em) {
	.headers {
		height: 1.1rem;
	}
	.headers h2 {
		font-size: 1.3rem;
	}
	.closeBtn {
		font-size: 0.7rem;
	}
	.formGroup label {
		font-size: 0.8rem;
	}
	.inputWrapper input {
		font-size: 0.6rem;
		height: 1.3rem;
	}
	.modal {
		margin-left: 20%;
		height: 100%;
		width: 60%;
	}
}
@media (max-width: 58em) {
	.modal {
		margin-left: 20%;
		height: 200vh;
		width: 60%;
	}
}
@media (max-width: 54em) {
	.modal {
		margin-left: 20%;
		height: 227vh;
		width: 60%;
	}
}
@media (max-width: 48em) {
	.headers {
		height: 1.1rem;
	}
	.headers h2 {
		font-size: 1.3rem;
	}
	.closeBtn {
		font-size: 0.7rem;
	}
	.formGroup label {
		font-size: 0.8rem;
	}
	.inputWrapper input {
		font-size: 0.6rem;
		height: 1.3rem;
	}
	.modal {
		margin-left: 10%;
		height: 190vh;
		width: 80%;
	}
	.formRow {
		display: grid;
		grid-template-columns: 50%;
	}
	.formGroup {
		width: 200%;
	}
}
@media (max-width: 42em) {
	.modal {
		margin-left: 20%;
		height: 440vh;
		width: 60%;
	}
}
@media (max-width: 24em) {
	.modal {
		margin-left: 10%;
		height: 210vh;
		width: 80%;
	}
}
