.footerBasic {
	/* padding: 40px 0; */
	background-color: #ffffff;
	color: #4b4c4d;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.listInline {
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0;
}

.listInlineItem {
	padding: 0 10px;
}

.listInlineItem a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
}

.footerBasic .social {
	text-align: center;
	/* padding-bottom: 20px; */
}

.footerBasic .social > a {
	font-size: 24px;
	width: 3%;
	height: 1%;
	line-height: 1.8rem;
	display: inline-block;
	text-align: center;
	margin: 0 8px;
	color: inherit;
	opacity: 0.75;
}

.footerBasic .social > a:hover {
	opacity: 0.9;
}

.footerBasic .copyright {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
	margin-bottom: 0;
}
.listInlineItem {
	display: inline-block;
}
@media (max-width: 40em) {
	.footerBasic .social > a {
		font-size: 13px;
		width: 7%;
		line-height: 1rem;
	}

	.listInlineItem a {
		font-size: 0.5rem;
	}
}
